#HomePage img {
  margin: 30px auto 0 50px; /* Center the image horizontally with margin auto */
  display: block; /* Ensure the image is treated as a block element for centering */
}

@media (max-width: 1240px) {
  /* Styles for screens with width 1240px or smaller */
  #HomePage img {
    margin: 20px auto 0 40px;
    max-width: 85%; /* Adjust max width for medium screens */
  }
}

@media (max-width: 1200px) {
  /* For laptops and tablets */
  #HomePage img {
    margin: 20px auto 0 40px;
    max-width: 80%; /* Reduce the max width for medium screens */
  }
}

@media (max-width: 768px) {
  /* For tablets and small screens */
  #HomePage img {
    margin: 15px auto 0 30px;
    max-width: 90%; /* Further reduce the max width for smaller screens */
  }
}

@media (max-width: 480px) {
  /* For mobile devices */
  #HomePage img {
    margin: 10px auto 0 10px;
    max-width: 95%; /* Almost full width on mobile */
  }
}
